n8n/workflows/infra/health-monitor-v1.json
{
  "name": "WF-09 \u00b7 Operations Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/scheduled/ops-health-monitor-v1/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "run-job",
      "name": "Run Scheduled Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-healthy",
              "leftValue": "={{ ($json.data?.healthy ?? $json.healthy) !== false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-healthy",
      "name": "Decision: Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/notifications/admin",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"subject\": \"[LexFlow] ops-health-monitor-v1 \\u2014 Notify Ops\", \"body\": \"Workflow step completed: Notify Ops\", \"source\": \"n8n\", \"metadata\": {\"workflow\": \"ops-health-monitor-v1\", \"step\": \"Notify Ops\", \"executionId\": \"{{ $execution.id }}\"}}"
      },
      "id": "notify-fail",
      "name": "Notify Ops",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Run Scheduled Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scheduled Job": {
      "main": [
        [
          {
            "node": "Decision: Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: Healthy?": {
      "main": [
        [],
        [
          {
            "node": "Notify Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-09"
    }
  ],
  "meta": {
    "purpose": "Every 5 min \u2014 probe Redis, RabbitMQ, Celery, API; create incident + alert admins.",
    "domain_event": null,
    "fastapi_trigger": "n8n schedule only",
    "trigger": "Cron every 5 minutes",
    "input": {},
    "output": {
      "healthy": true,
      "incidents": []
    },
    "retries": 0,
    "failure": "Self-alert via admin notification",
    "owner": "platform-team",
    "version": 1,
    "category": "infra",
    "group": "infra",
    "serial": 9,
    "summary": "Every 5 min \u2192 probe Redis, RabbitMQ, Celery, API; alert ops on failure."
  }
}
