n8n/workflows/business/ai-failure-recovery-v1.json
{
  "name": "WF-06 \u00b7 AI Failure Recovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-failure-recovery-v1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ai-failure-recovery-v1"
    },
    {
      "parameters": {
        "jsCode": "const inbound = $json.body ?? $json;\nconst executionId = inbound.executionId || inbound.execution_id;\nconst caseId = inbound.caseId || inbound.case_id || null;\nconst payload = inbound.payload || {};\nconst documentId = payload.documentId || inbound.documentId || null;\nreturn [{\n  json: {\n    executionId,\n    caseId,\n    documentId,\n    payload,\n    inboundSignature: $json.headers?.['x-lexflow-signature'] || null,\n    ok: Boolean(executionId),\n  }\n}];"
      },
      "id": "normalize-ctx",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nif (!ctx.ok) {\n  throw new Error('Missing executionId on webhook payload');\n}\nif (!ctx.inboundSignature) {\n  throw new Error('Missing X-LexFlow-Signature \u2014 reject unsigned webhook');\n}\nreturn [{ json: { ...ctx, signatureValid: true, step: 'Validate Signature' } }];"
      },
      "id": "validate-signature",
      "name": "Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/internal/workflows/session/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "verify-session",
      "name": "Verify Session Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize Context').first().json;\nconst verify = $json.data ?? $json;\nif (verify.sessionValid === false || verify.authorized === false) {\n  throw new Error(verify.message || 'Orchestrator session invalid \u2014 run WF-11 Initialize');\n}\nreturn [{ json: { ...ctx, sessionValid: true, ocrAttempt: 1, step: 'Verify Session Token' } }];"
      },
      "id": "merge-session",
      "name": "Merge Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/ai-failure-recovery-v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $('Merge Session Context').first().json.executionId, caseId: $('Merge Session Context').first().json.caseId, payload: $('Merge Session Context').first().json.payload || {} }) }}"
      },
      "id": "init-execution",
      "name": "Initialize Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Session Context').first().json;\nconst init = $json.data ?? $json;\nconst flags = init.flags || {};\nreturn [{\n  json: {\n    ...ctx,\n    slug: init.slug || ctx.slug,\n    executionId: init.executionId || ctx.executionId,\n    caseId: init.caseId || ctx.caseId,\n    documentId: init.documentId || ctx.documentId,\n    flags,\n    ocrComplete: Boolean(flags.ocrComplete),\n    aiEnabled: Boolean(flags.aiEnabled),\n    ocrAttempt: ctx.ocrAttempt || 1,\n    step: 'Initialize Execution',\n  }\n}];"
      },
      "id": "merge-init",
      "name": "Merge Execution Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-failure-recovery-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Retry 1') + '&step_order=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-r1",
      "name": "Retry 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-r1",
      "name": "Merge Retry 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-failure-recovery-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Retry 2') + '&step_order=20' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-r2",
      "name": "Retry 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-r2",
      "name": "Merge Retry 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-failure-recovery-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Retry 3') + '&step_order=30' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-r3",
      "name": "Retry 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-r3",
      "name": "Merge Retry 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-failure-recovery-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Create Human Review') + '&step_order=40' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-review",
      "name": "Create Human Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-review",
      "name": "Merge Create Human Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/notifications/admin",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"subject\": \"[LexFlow] WF-06 \\u00b7 AI Failure Recovery \\u2014 Notify Attorney\", \"body\": \"Workflow step completed: Notify Attorney\", \"source\": \"n8n\", \"metadata\": {\"workflow\": \"WF-06 \\u00b7 AI Failure Recovery\", \"step\": \"Notify Attorney\", \"executionId\": \"{{ $execution.id }}\"}}"
      },
      "id": "notify",
      "name": "Notify Attorney",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Validate Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signature": {
      "main": [
        [
          {
            "node": "Verify Session Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Session Token": {
      "main": [
        [
          {
            "node": "Merge Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Execution": {
      "main": [
        [
          {
            "node": "Merge Execution Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Context": {
      "main": [
        [
          {
            "node": "Initialize Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Execution Context": {
      "main": [
        [
          {
            "node": "Retry 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 1": {
      "main": [
        [
          {
            "node": "Merge Retry 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Retry 1": {
      "main": [
        [
          {
            "node": "Retry 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 2": {
      "main": [
        [
          {
            "node": "Merge Retry 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Retry 2": {
      "main": [
        [
          {
            "node": "Retry 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 3": {
      "main": [
        [
          {
            "node": "Merge Retry 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Retry 3": {
      "main": [
        [
          {
            "node": "Create Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Human Review": {
      "main": [
        [
          {
            "node": "Merge Create Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Create Human Review": {
      "main": [
        [
          {
            "node": "Notify Attorney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-06"
    }
  ],
  "meta": {
    "purpose": "Retry failed AI jobs 3\u00d7 then create human review task and notify attorney.",
    "domain_event": "AIJobFailed",
    "fastapi_trigger": "ai_tasks failure handler \u2192 workflow execution",
    "trigger": "POST /webhook/ai-failure-recovery-v1",
    "input": {
      "jobId": "uuid",
      "caseId": "uuid",
      "documentId": "uuid"
    },
    "output": {
      "recovered": "boolean",
      "humanReview": "boolean"
    },
    "retries": 3,
    "failure": "Human review task + admin notification",
    "owner": "ai-team",
    "version": 1,
    "category": "ai-approval",
    "group": "business",
    "serial": 6,
    "summary": "AI job failed \u2192 retry 3\u00d7, then create human review and alert attorney."
  }
}
