n8n/workflows/business/ai-summary-approved-v1.json
{
  "name": "WF-03 \u00b7 AI Summary Approved",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-summary-approved-v1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ai-summary-approved-v1"
    },
    {
      "parameters": {
        "jsCode": "const inbound = $json.body ?? $json;\nconst executionId = inbound.executionId || inbound.execution_id;\nconst caseId = inbound.caseId || inbound.case_id || null;\nconst payload = inbound.payload || {};\nconst documentId = payload.documentId || inbound.documentId || null;\nreturn [{\n  json: {\n    executionId,\n    caseId,\n    documentId,\n    payload,\n    inboundSignature: $json.headers?.['x-lexflow-signature'] || null,\n    ok: Boolean(executionId),\n  }\n}];"
      },
      "id": "normalize-ctx",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nif (!ctx.ok) {\n  throw new Error('Missing executionId on webhook payload');\n}\nif (!ctx.inboundSignature) {\n  throw new Error('Missing X-LexFlow-Signature \u2014 reject unsigned webhook');\n}\nreturn [{ json: { ...ctx, signatureValid: true, step: 'Validate Signature' } }];"
      },
      "id": "validate-signature",
      "name": "Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/internal/workflows/session/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "verify-session",
      "name": "Verify Session Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize Context').first().json;\nconst verify = $json.data ?? $json;\nif (verify.sessionValid === false || verify.authorized === false) {\n  throw new Error(verify.message || 'Orchestrator session invalid \u2014 run WF-11 Initialize');\n}\nreturn [{ json: { ...ctx, sessionValid: true, ocrAttempt: 1, step: 'Verify Session Token' } }];"
      },
      "id": "merge-session",
      "name": "Merge Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/ai-summary-approved-v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $('Merge Session Context').first().json.executionId, caseId: $('Merge Session Context').first().json.caseId, payload: $('Merge Session Context').first().json.payload || {} }) }}"
      },
      "id": "init-execution",
      "name": "Initialize Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Session Context').first().json;\nconst init = $json.data ?? $json;\nconst flags = init.flags || {};\nreturn [{\n  json: {\n    ...ctx,\n    slug: init.slug || ctx.slug,\n    executionId: init.executionId || ctx.executionId,\n    caseId: init.caseId || ctx.caseId,\n    documentId: init.documentId || ctx.documentId,\n    flags,\n    ocrComplete: Boolean(flags.ocrComplete),\n    aiEnabled: Boolean(flags.aiEnabled),\n    ocrAttempt: ctx.ocrAttempt || 1,\n    step: 'Initialize Execution',\n  }\n}];"
      },
      "id": "merge-init",
      "name": "Merge Execution Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-summary-approved-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Update Case') + '&step_order=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-update",
      "name": "Update Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-update",
      "name": "Merge Update Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-summary-approved-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Notify Managing Partner') + '&step_order=20' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-partner",
      "name": "Notify Managing Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-partner",
      "name": "Merge Notify Managing Partner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-summary-approved-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Archive Summary') + '&step_order=30' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-archive",
      "name": "Archive Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-archive",
      "name": "Merge Archive Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/ai-summary-approved-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Audit') + '&step_order=40' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-audit",
      "name": "Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-audit",
      "name": "Merge Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst ctx = $json;\nconst secret = 'dev-n8n-webhook-secret';\nconst status = ctx.workflowStatus || (ctx.aiSuccess === false || ctx.ocrComplete === false ? 'failed' : 'completed');\nconst body = {\n  executionId: ctx.executionId,\n  status,\n  n8nExecutionId: String($execution.id),\n  output: {\n    slug: ctx.slug || 'ai-summary-approved-v1',\n    ocrComplete: ctx.ocrComplete,\n    aiSuccess: ctx.aiSuccess,\n    steps: ['validate','verify-session','initialize','steps','callback'],\n  },\n  errorMessage: ctx.errorMessage || null,\n};\nconst raw = JSON.stringify(body);\nconst sig = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nreturn [{ json: { ...ctx, callbackBody: body, callbackRaw: raw, callbackSignature: sig, workflowStatus: status } }];"
      },
      "id": "prepare-callback",
      "name": "Prepare Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/webhooks/n8n/ai-summary-approved-v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-LexFlow-Signature",
              "value": "={{ $json.callbackSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.callbackRaw }}"
      },
      "id": "callback",
      "name": "Callback API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Validate Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signature": {
      "main": [
        [
          {
            "node": "Verify Session Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Session Token": {
      "main": [
        [
          {
            "node": "Merge Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Execution": {
      "main": [
        [
          {
            "node": "Merge Execution Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Context": {
      "main": [
        [
          {
            "node": "Initialize Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Execution Context": {
      "main": [
        [
          {
            "node": "Update Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case": {
      "main": [
        [
          {
            "node": "Merge Update Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Update Case": {
      "main": [
        [
          {
            "node": "Notify Managing Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Managing Partner": {
      "main": [
        [
          {
            "node": "Merge Notify Managing Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notify Managing Partner": {
      "main": [
        [
          {
            "node": "Archive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Summary": {
      "main": [
        [
          {
            "node": "Merge Archive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Archive Summary": {
      "main": [
        [
          {
            "node": "Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit": {
      "main": [
        [
          {
            "node": "Merge Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Audit": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Callback": {
      "main": [
        [
          {
            "node": "Callback API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-03"
    }
  ],
  "meta": {
    "purpose": "Post-approval \u2014 update case status, notify managing partner, archive summary, audit.",
    "domain_event": "SummaryApproved",
    "fastapi_trigger": "ai_service.approve_summary() \u2192 outbox event",
    "trigger": "POST /webhook/ai-summary-approved-v1",
    "input": {
      "summaryId": "uuid",
      "caseId": "uuid",
      "approvedBy": "uuid"
    },
    "output": {
      "status": "archived",
      "partnerNotified": true
    },
    "retries": 2,
    "failure": "Retry then escalate to partner",
    "owner": "ai-team",
    "version": 1,
    "category": "ai-approval",
    "group": "business",
    "serial": 3,
    "summary": "Attorney approves AI draft \u2192 notify partner, archive summary, audit."
  }
}
