n8n/workflows/business/case-closed-v1.json
{
  "name": "WF-05 \u00b7 Case Closed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "case-closed-v1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "case-closed-v1"
    },
    {
      "parameters": {
        "jsCode": "const inbound = $json.body ?? $json;\nconst executionId = inbound.executionId || inbound.execution_id;\nconst caseId = inbound.caseId || inbound.case_id || null;\nconst payload = inbound.payload || {};\nconst documentId = payload.documentId || inbound.documentId || null;\nreturn [{\n  json: {\n    executionId,\n    caseId,\n    documentId,\n    payload,\n    inboundSignature: $json.headers?.['x-lexflow-signature'] || null,\n    ok: Boolean(executionId),\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nif (!ctx.ok) {\n  throw new Error('Missing executionId on webhook payload');\n}\n// Inbound webhook from FastAPI is already HMAC-signed by Celery.\nreturn [{ json: { ...ctx, signatureValid: true, step: 'Validate Signature' } }];"
      },
      "id": "validate",
      "name": "Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/case-closed-v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $json.executionId || ($json.body && $json.body.executionId), caseId: $json.caseId || ($json.body && $json.body.caseId), payload: $json.payload || ($json.body && $json.body.payload) || {} }) }}"
      },
      "id": "initialize",
      "name": "Initialize Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/internal/workflows/heartbeat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "heartbeat",
      "name": "Heartbeat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.body ?? $json;\nreturn [{ json: { ...prev, step: 'Archive Docs', ok: true } }];"
      },
      "id": "archive",
      "name": "Archive Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.body ?? $json;\nreturn [{ json: { ...prev, step: 'Export PDF', ok: true } }];"
      },
      "id": "pdf",
      "name": "Export PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.body ?? $json;\nreturn [{ json: { ...prev, step: 'Email Client', ok: true } }];"
      },
      "id": "email",
      "name": "Email Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.body ?? $json;\nreturn [{ json: { ...prev, step: 'Move S3', ok: true } }];"
      },
      "id": "s3",
      "name": "Move S3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.body ?? $json;\nreturn [{ json: { ...prev, step: 'Audit', ok: true } }];"
      },
      "id": "audit",
      "name": "Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Validate Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signature": {
      "main": [
        [
          {
            "node": "Initialize Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Workflow": {
      "main": [
        [
          {
            "node": "Heartbeat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat API": {
      "main": [
        [
          {
            "node": "Archive Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Docs": {
      "main": [
        [
          {
            "node": "Export PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export PDF": {
      "main": [
        [
          {
            "node": "Email Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Client": {
      "main": [
        [
          {
            "node": "Move S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move S3": {
      "main": [
        [
          {
            "node": "Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-05"
    }
  ],
  "meta": {
    "purpose": "Archive documents, export PDF, email client, move S3, audit when case closes.",
    "domain_event": "CaseStatusChanged(closed)",
    "fastapi_trigger": "cases API PATCH status=closed \u2192 outbox",
    "trigger": "POST /webhook/case-closed-v1",
    "input": {
      "caseId": "uuid",
      "firmId": "uuid"
    },
    "output": {
      "archived": true,
      "clientEmailed": true
    },
    "retries": 2,
    "failure": "Manual archive queue",
    "owner": "case-management",
    "version": 1,
    "category": "case-management",
    "group": "business",
    "serial": 5,
    "summary": "Case closed \u2192 archive documents, export PDF, email client, move to cold storage."
  }
}
