n8n/workflows/business/client-created-v1.json
{
  "name": "WF-04 \u00b7 New Client Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-created-v1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "client-created-v1"
    },
    {
      "parameters": {
        "jsCode": "const inbound = $json.body ?? $json;\nconst executionId = inbound.executionId || inbound.execution_id;\nconst caseId = inbound.caseId || inbound.case_id || null;\nconst payload = inbound.payload || {};\nconst documentId = payload.documentId || inbound.documentId || null;\nreturn [{\n  json: {\n    executionId,\n    caseId,\n    documentId,\n    payload,\n    inboundSignature: $json.headers?.['x-lexflow-signature'] || null,\n    ok: Boolean(executionId),\n  }\n}];"
      },
      "id": "normalize-ctx",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nif (!ctx.ok) {\n  throw new Error('Missing executionId on webhook payload');\n}\nif (!ctx.inboundSignature) {\n  throw new Error('Missing X-LexFlow-Signature \u2014 reject unsigned webhook');\n}\nreturn [{ json: { ...ctx, signatureValid: true, step: 'Validate Signature' } }];"
      },
      "id": "validate-signature",
      "name": "Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/internal/workflows/session/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "verify-session",
      "name": "Verify Session Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize Context').first().json;\nconst verify = $json.data ?? $json;\nif (verify.sessionValid === false || verify.authorized === false) {\n  throw new Error(verify.message || 'Orchestrator session invalid \u2014 run WF-11 Initialize');\n}\nreturn [{ json: { ...ctx, sessionValid: true, ocrAttempt: 1, step: 'Verify Session Token' } }];"
      },
      "id": "merge-session",
      "name": "Merge Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/client-created-v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $('Merge Session Context').first().json.executionId, caseId: $('Merge Session Context').first().json.caseId, payload: $('Merge Session Context').first().json.payload || {} }) }}"
      },
      "id": "init-execution",
      "name": "Initialize Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Session Context').first().json;\nconst init = $json.data ?? $json;\nconst flags = init.flags || {};\nreturn [{\n  json: {\n    ...ctx,\n    slug: init.slug || ctx.slug,\n    executionId: init.executionId || ctx.executionId,\n    caseId: init.caseId || ctx.caseId,\n    documentId: init.documentId || ctx.documentId,\n    flags,\n    ocrComplete: Boolean(flags.ocrComplete),\n    aiEnabled: Boolean(flags.aiEnabled),\n    ocrAttempt: ctx.ocrAttempt || 1,\n    step: 'Initialize Execution',\n  }\n}];"
      },
      "id": "merge-init",
      "name": "Merge Execution Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/client-created-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('CRM Sync') + '&step_order=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-crm",
      "name": "CRM Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-crm",
      "name": "Merge CRM Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/client-created-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Welcome Email') + '&step_order=20' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-welcome",
      "name": "Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-welcome",
      "name": "Merge Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/client-created-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Assign Intake Team') + '&step_order=30' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-intake",
      "name": "Assign Intake Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-intake",
      "name": "Merge Assign Intake Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/client-created-v1/actions/step?execution_id=' + $('Merge Execution Context').first().json.executionId + '&step_name=' + encodeURIComponent('Audit') + '&step_order=40' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "step-audit",
      "name": "Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Execution Context').first().json;\nconst res = $json.data ?? $json;\nreturn [{ json: { ...ctx, lastStepResult: res, ok: res.success !== false } }];"
      },
      "id": "merge-audit",
      "name": "Merge Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Validate Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signature": {
      "main": [
        [
          {
            "node": "Verify Session Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Session Token": {
      "main": [
        [
          {
            "node": "Merge Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Execution": {
      "main": [
        [
          {
            "node": "Merge Execution Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Context": {
      "main": [
        [
          {
            "node": "Initialize Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Execution Context": {
      "main": [
        [
          {
            "node": "CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Sync": {
      "main": [
        [
          {
            "node": "Merge CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CRM Sync": {
      "main": [
        [
          {
            "node": "Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email": {
      "main": [
        [
          {
            "node": "Merge Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Welcome Email": {
      "main": [
        [
          {
            "node": "Assign Intake Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Intake Team": {
      "main": [
        [
          {
            "node": "Merge Assign Intake Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Assign Intake Team": {
      "main": [
        [
          {
            "node": "Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit": {
      "main": [
        [
          {
            "node": "Merge Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-04"
    }
  ],
  "meta": {
    "purpose": "CRM sync, welcome email, intake team assignment when a new client is created.",
    "domain_event": "ClientCreated",
    "fastapi_trigger": "clients API POST /api/v1/clients \u2192 outbox",
    "trigger": "POST /webhook/client-created-v1",
    "input": {
      "clientId": "uuid",
      "email": "string",
      "firmId": "uuid"
    },
    "output": {
      "crmSynced": true,
      "intakeAssigned": true
    },
    "retries": 3,
    "failure": "Manual intake queue",
    "owner": "client-success",
    "version": 1,
    "category": "case-management",
    "group": "business",
    "serial": 4,
    "summary": "New client added \u2192 CRM sync, welcome email, assign intake team."
  }
}
