n8n/workflows/business/document-upload-v1.json
{
  "name": "WF-02 \u00b7 Document Upload Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-upload-v1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "document-upload-v1"
    },
    {
      "parameters": {
        "jsCode": "const inbound = $json.body ?? $json;\nconst executionId = inbound.executionId || inbound.execution_id;\nconst caseId = inbound.caseId || inbound.case_id || null;\nconst payload = inbound.payload || {};\nconst documentId = payload.documentId || inbound.documentId || null;\nreturn [{\n  json: {\n    executionId,\n    caseId,\n    documentId,\n    payload,\n    inboundSignature: $json.headers?.['x-lexflow-signature'] || null,\n    ok: Boolean(executionId),\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nif (!ctx.ok) {\n  throw new Error('Missing executionId on webhook payload');\n}\n// Inbound webhook from FastAPI is already HMAC-signed by Celery.\nreturn [{ json: { ...ctx, signatureValid: true, step: 'Validate Signature' } }];"
      },
      "id": "validate",
      "name": "Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/workflows/document-upload-v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $json.executionId, caseId: $json.caseId, payload: $json.payload }) }}"
      },
      "id": "initialize",
      "name": "Initialize Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/internal/workflows/heartbeat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "heartbeat",
      "name": "Heartbeat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize Context').first().json;\nconst init = $json.data ?? $json;\nconst flags = init.flags || {};\nreturn [{\n  json: {\n    ...ctx,\n    executionId: init.executionId || ctx.executionId,\n    caseId: init.caseId || ctx.caseId,\n    documentId: init.documentId || ctx.documentId,\n    flags,\n    ocrComplete: Boolean(flags.ocrComplete),\n    aiEnabled: Boolean(flags.aiEnabled),\n    ocrAttempt: ctx.ocrAttempt || 1,\n    step: 'Initialize Workflow',\n  }\n}];"
      },
      "id": "merge-init",
      "name": "Merge Initialize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://api:8000/internal/workflows/executions/' + $('Merge Initialize').first().json.executionId + '/case-context' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "case-context",
      "name": "Get Case Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Initialize').first().json;\nconst caseData = $json.data ?? $json;\nreturn [{ json: { ...ctx, caseContext: caseData, step: 'Get Case Details' } }];"
      },
      "id": "merge-case",
      "name": "Merge Case Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://api:8000/internal/workflows/documents/' + $('Merge Initialize').first().json.documentId + '/ocr-status?attempt=' + ($('Merge Initialize').first().json.ocrAttempt || 1) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "poll-ocr",
      "name": "Poll OCR Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Initialize').first().json;\nconst ocr = $json.data ?? $json;\nconst attempt = Number(ocr.attempt || ctx.ocrAttempt || 0) + 1;\nreturn [{\n  json: {\n    ...ctx,\n    ocrStatus: ocr.ocrStatus || ocr.ocr_status,\n    ocrComplete: Boolean(ocr.ocrComplete ?? ocr.ocr_complete),\n    ocrAttempt: attempt,\n    step: 'Poll OCR Status',\n  }\n}];"
      },
      "id": "merge-ocr",
      "name": "Merge OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-ocr",
              "leftValue": "={{ $json.ocrComplete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-ocr",
      "name": "Decision: OCR Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-retry",
              "leftValue": "={{ $json.ocrAttempt < 12 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-retry",
      "name": "Decision: Retry OCR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        480
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-ocr",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nreturn [{ json: { ...ctx, ocrAttempt: Number(ctx.ocrAttempt || 0) + 1 } }];"
      },
      "id": "retry-bump",
      "name": "Increment Attempt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/document-upload-v1/actions/ai-summary?execution_id=' + $json.executionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "ai-summary",
      "name": "Trigger AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge OCR').first().json;\nconst ai = $json.data ?? $json;\nreturn [{\n  json: {\n    ...ctx,\n    aiSuccess: Boolean(ai.success),\n    aiMessage: ai.message || '',\n    step: 'Trigger AI Summary',\n  }\n}];"
      },
      "id": "merge-ai",
      "name": "Merge AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-ai",
              "leftValue": "={{ $json.aiSuccess !== false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-ai",
      "name": "Decision: AI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/document-upload-v1/actions/notify?execution_id=' + $json.executionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "notify",
      "name": "Execute Workflow: Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/document-upload-v1/actions/audit?execution_id=' + $json.executionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "audit",
      "name": "Execute Workflow: Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://api:8000/internal/workflows/document-upload-v1/actions/alert?execution_id=' + $('Merge Initialize').first().json.executionId + '&reason=' + encodeURIComponent('OCR or AI step failed') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-n8n-webhook-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "alert",
      "name": "Retry / Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst ctx = $json;\nconst secret = 'dev-n8n-webhook-secret';\nconst status = ctx.workflowStatus || (ctx.aiSuccess === false || ctx.ocrComplete === false ? 'failed' : 'completed');\nconst body = {\n  executionId: ctx.executionId,\n  status,\n  n8nExecutionId: String($execution.id),\n  output: {\n    slug: ctx.slug || 'document-upload-v1',\n    ocrComplete: ctx.ocrComplete,\n    aiSuccess: ctx.aiSuccess,\n    steps: ['validate','initialize','heartbeat','case','ocr','ai','notify','audit'],\n  },\n  errorMessage: ctx.errorMessage || null,\n};\nconst raw = JSON.stringify(body);\nconst sig = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nreturn [{ json: { ...ctx, callbackBody: body, callbackRaw: raw, callbackSignature: sig, workflowStatus: status } }];"
      },
      "id": "prepare-callback",
      "name": "Prepare Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/webhooks/n8n/document-upload-v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-LexFlow-Signature",
              "value": "={{ $json.callbackSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.callbackRaw }}"
      },
      "id": "callback",
      "name": "Callback API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Validate Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signature": {
      "main": [
        [
          {
            "node": "Initialize Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Workflow": {
      "main": [
        [
          {
            "node": "Heartbeat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat API": {
      "main": [
        [
          {
            "node": "Merge Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Initialize": {
      "main": [
        [
          {
            "node": "Get Case Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Case Details": {
      "main": [
        [
          {
            "node": "Merge Case Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Case Context": {
      "main": [
        [
          {
            "node": "Poll OCR Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll OCR Status": {
      "main": [
        [
          {
            "node": "Merge OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge OCR": {
      "main": [
        [
          {
            "node": "Decision: OCR Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: OCR Complete?": {
      "main": [
        [
          {
            "node": "Trigger AI Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decision: Retry OCR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: Retry OCR?": {
      "main": [
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry / Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Increment Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempt": {
      "main": [
        [
          {
            "node": "Poll OCR Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger AI Summary": {
      "main": [
        [
          {
            "node": "Merge AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Result": {
      "main": [
        [
          {
            "node": "Decision: AI Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: AI Success?": {
      "main": [
        [
          {
            "node": "Execute Workflow: Notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry / Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow: Notifications": {
      "main": [
        [
          {
            "node": "Execute Workflow: Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow: Audit": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry / Alert": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Callback": {
      "main": [
        [
          {
            "node": "Callback API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-02"
    }
  ],
  "meta": {
    "purpose": "Flagship E2E flow \u2014 OCR complete \u2192 AI summary \u2192 attorney notification \u2192 approval task.",
    "domain_event": "DocumentUploaded",
    "fastapi_trigger": "Celery workflow_tasks.trigger_document_upload_workflow after OCR",
    "trigger": "POST /webhook/document-upload-v1 (Document Uploaded)",
    "input": {
      "documentId": "uuid",
      "caseId": "uuid",
      "executionId": "uuid",
      "firmId": "uuid"
    },
    "output": {
      "status": "completed",
      "approvalTaskCreated": true
    },
    "retries": 3,
    "failure": "Mark execution failed; notify attorney + admin",
    "owner": "document-team",
    "version": 1,
    "category": "document-processing",
    "group": "business",
    "serial": 2,
    "summary": "Document OCR done \u2192 request AI summary and create attorney approval task."
  }
}
